body {
    margin: 0;
}


.container {
    margin: 0px 0px;
}

.container_head {
    margin: 0px 250px;
}

.header {
    background-image: url("../media/bg_base.jpg");
    height: 12vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top 100px;
}

.header-line {
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-item {
    color: #ffffff;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 14px;
    margin-right: 25px;
    transition: color 0.3s linear;
}

.nav-item:hover {
    color: #ff0e0c;
}

.cart {
    position: relative;
    border-right:  1px solid #ffffff;
    padding-right: 10px;
    height: 50px;
}


.cart-img {
    position: absolute;
    top: 18px;
    right: 7px;
}

.num {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: color 0.3s linear;
}

.num:hover {
    color: #ff0e0c;
}

.phone-text {
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.phone-holder {
    display: flex;
    align-items: center;

}

.button {
    background-color: #ff7400;
    text-decoration: none;
    color: #ffffff;
    padding: 14px 18px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: background-color 0.3s linear;

    border-radius: 10px;
}

.button:hover {
    background-color: #a55400;
}

.vertical-line {
    border-left: 1px solid rgb(255, 255, 255); /* Ширина и цвет линии */
    height: 50px; /* Высота линии */
}

.header-down {
    background-image: url("../media/bg.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.header-title {
    font-family: 'Tinos', serif;
    color: #D67E35;
    font-weight: 300;
    font-size: 50px;
    text-align: center;
    position: absolute;
    margin-top: 230px;
    margin-left: 250px;
}

.header-subtitle {
    font-family: 'Tinos', serif;
    font-weight: 300;
    font-size: 80px;
}

.header-subtitle_two {
    color: #ffffff;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 10px;

}

.header-subtitle_two:after {
    position: absolute;
    content: '';
    height: 1px;
    width: 70px;
    background-color: #ffffff;
    top: 170px;
    left: 70px;
}

.header-subtitle_two:before {
    position: absolute;
    content: '';
    height: 1px;
    width: 70px;
    background-color: #ffffff;
    top: 170px;
    left: 337px;
}

.header-button {
    background-color: #FF7400;
    padding: 14px 28px;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: background-color 0.3s linear;

    border-radius: 10px;
}

.header-button:hover {
    background-color: #a55400;
}


.card-image {
    margin-top: 35px;
    display: flex;
    justify-content: center;
}

.card-title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: 400;
    font-family: 'Tinos', serif;
}

.card-title span {
    color: #D67E35;
}

.card-desc {
    color: #656363;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Tinos', serif;
    font-size: 26px;
    font-weight: 400;
}

.card {
    padding: 10px 10px;
    box-shadow: 10px 10px 40px 20px #0000001A;
    width: 350px;
    margin-right: 30px;
    background-color: #ffffff;
    z-index: 1;
    margin-top: -80px;

    border-radius: 15px;
    border: 2px solid #53138c;
    
}

.card-holder {
    display: flex;
    justify-content: center;
}

.history {
    margin-top: 120px;
    margin-left: 190px;
    margin-bottom: 180px;
}

.history-title {
    font-family: 'Tinos', serif;
    font-size: 54px;
    font-weight: 400;
    width: 444px;
    text-align: center;
    margin-bottom: 16px;
}

.history-title span {
    color: #D67E35;
}

.history-desc {
    color: #656363;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 444px;
    text-align: center;
}


.history-number {
    display: flex;
    width: 444px;
    justify-content: center;
    margin-top: 40px;
    margin-left: 30px;
}

.number-item {
    font-size: 40px;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #BC9060;
    margin-right: 60px;
    text-align: center;
}

.number-item span {
    font-weight: 400;
    font-size: 25px;
    color: #1b1b1b;
    display: block;
}

.history-holder {
    display: flex;
    justify-content: space-between;
}

.history-images {
    position: relative;
}

.images-1 {
    position: absolute;
    z-index: 999;
    top: 10px;
    left: -750px;
}

.images-2 {
    position: absolute;
    z-index: 800;
    top: 120px;
    left: -450px;
}

.images-3 {
    position: absolute;
    z-index: 400;
    top: -30px;
    left: -550px;
}

.images-4 {
    position: absolute;
    z-index: 300;
    top: -1px;
    left: -470px;
}


.container_black{
    padding-left: 200px;
}

.black-block{
    position: relative;
    background-image: url("../media/bg_down.jpg");
    padding: 80px 0px;
}


.Left-title{
    color: #D67E34;
    font-family: 'Tinos', serif;
    font-size: 52px;
    font-weight: 400;

    margin-bottom: 20px;
    ;
}

.Left-text{
    color: #FFFFFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}

.right-btn{
    margin-right: 200px;
    background-color: #ff7400;
    text-decoration: none;
    color: #ffffff;
    padding: 14px 18px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: background-color 0.3s linear;
}

.right-btn:hover {
    background-color: #a55400;
}

.block-holder{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.text-header{
    padding-top: 20px;

    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 62px;
    color: #FFFFFF;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-card-menu{
    font-family: 'Tinos';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    color: #000000;

    margin-top: 100px;
}

card-menu,
.card-menu{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 350px;
    margin-top: 60px;
}

.button-card-menu{
    background: #D67E34;
    color: white;
    padding: 12px 60px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center; 
    text-decoration: none;

    margin-top: 20px;
    margin-bottom: 29px;
}



.price{
    position: absolute;
    margin-top: -110px;
    margin-left: 120px;
    background: #D67E34;
    border: 7px solid #FFFFFF;
    width: 100px;
    height: 100px;
    font-family: 'Segoe Script';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 33px;
    color: #FFFFFF;

    display: flex;
    justify-content: center; /* Выравнивание по горизонтали */
    align-items: center;
    border-radius: 50%;
}

.card-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch; /* Добавьте для плавного скролла на iOS */
    scrollbar-width: thin; /* Устанавливает тонкий скроллбар на Firefox */
    padding: 0px 110px;

    margin-top: 30px;
    margin-bottom: 50px

    
}
  
.card {
    flex: 0 0 auto; /* Добавьте для корректного отображения карточек */
    width: 330px;
    height: 500px;
    margin-right: 150px;
    background-color: #f0f0f0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

}

  /* Добавьте стили для тонкого скроллбара на Chrome, Edge, Safari */
.card-container::-webkit-scrollbar {
    height: 8px;
}

.card-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    /* display: none; */
}



.header-down-menu {
    background-image: url("../media/bg_menu.jpg");
    height: 150vh;
    background-repeat: repeat-y;
    position: relative;
}

.desc-card-menu{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    margin-top: 17px;
}

.card-img-menu{
    /* width: 225px;
    height: 225px; */
    margin-top: 80px;
    border-radius: 50%; 
}


.img-and-price{
    position: relative;
    width: 225px;
    height: 225px;
    border-radius: 50%; 
}

.user-test{
    color: white;
}

.input-field {
    font-size: 16px;
    padding: 8px;
    margin-bottom: 20px;
    margin-left: 10px;
  }
  
  /* Пример стиля для кнопки отправки */
.submit-button {
    font-size: 16px;
    padding: 8px 40px;
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
    margin-bottom: 28px;
}
  
.submit-button:hover {
    background-color: #45a049;
}

.regiser-form{

    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: black;
    padding: 0px 30px;
    width: 220px;

    margin-top: 100px;
}

.register-form-styles{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url("../media/bg_menu.jpg");
    background-size: cover;
    height: 88vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-regiser{
    font-size: 30px;
    position: relative;
    left: -25px;
    padding: 20px 0px;
    margin-bottom: 10px;
}

.header-login{
    font-size: 30px;
    position: relative;
    left: -80px;
    padding: 20px 0px;
    margin-bottom: 10px;
}

.login-form{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: black;
    padding: 0px 30px;
    width: 220px;

    margin-top: 150px;
}


.options-login{
    margin-bottom: 20px;
    color: #53138c;
}

.forgot-password-link{
    text-decoration: none;
}

.forgot-password-link:hover {
    text-decoration: underline;
}

.register-link{
    text-decoration: none;
}

.register-link:hover {
    text-decoration: underline;
}

.login-form-styles{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url("../media/bg_menu.jpg");
    background-size: cover;
    height: 88vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-reset-password{
    font-size: 30px;
    position: relative;
    /* left: -80px; */
    padding: 20px 0px;
    margin-bottom: 10px;
}

.reset-password-form{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: black;
    padding: 0px 30px;
    width: 240px;
    margin-top: 150px;
}

.reset-passowrd-form-styles{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url("../media/bg_menu.jpg");
    background-size: cover;
    height: 88vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog{
    background-image: url("../media/bg_menu.jpg");
    background-size: cover;
    padding: 20px 100px;
}

.blog-header{
    font-size: 35px;
    font-weight: 800;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 20px;
    color: white;
}

.blog-content{
    display: flex;
}

.active-post{
    background-color: #ffffff;
    width: 100%;
    padding: 20px 20px;

    border-radius: 15px;
    border: 2px solid #53138c;
}

.posts-list{
    font-size: 22px;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #ffffff; 
    width: 500px; 

    display: flex;          /* Используйте flex для расположения дочерних элементов */
    flex-direction: column; /* Дочерние элементы располагаются вертикально (в столбик) */
    align-items: center;

    padding-left: 30px;
    padding-right: 30px;

    margin-left: 20px;

    border-radius: 15px;
    border: 2px solid #53138c;
}

.header-post-list{
    font-size: 20px;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 10px 0px;



}

.custom-hr{
    width: 90px;         /* Ширина линии */
    height: 2px;         /* Высота линии */
    background-color: #000000; /* Цвет линии */
    border: none;       /* Удаление рамки, если она есть */
    margin: 20px 0;     /* Отступы сверху и снизу */
    margin-left: 5px;
    margin-right: 5px;
}



.card-img-blog-list{
    width: 300px;
    height: auto;
    margin-bottom: 10px;

}
 

.end-line{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
}
  
  
.card-blog{
    display: flex;          /* Используйте flex для расположения дочерних элементов */
    flex-direction: column; /* Дочерние элементы располагаются вертикально (в столбик) */
    align-items: center;
    text-align: center;
    font-weight: 800;
    text-decoration: none;
    color: black;

    margin-bottom: 30px;
}


.img-blog-active{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.header-blog-active{
    font-size: 32px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
}

.img-user-blog-active{
    width: 20px;
    height: auto;
    margin-right: 5px;
}

.meta-data-blog-active{
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    margin-bottom: 15px;
}

.img-date-blog-active{
    width: 20px;
    height: auto;
    margin-right: 5px;
}

.user-blog-active{
    display: flex;
    margin-right: 20px;
    color: #53138c;
    font-weight: 800;
}

.date-blog-active{
    display: flex;
    color: #53138c;
}

.text-blog-active{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    text-indent: 2em;
    margin-bottom: 30px;
}


.header-comment{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: #4e4e4e;
}

.comment-form textarea{
    resize: none;
    height: 70px;
    width: 97%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    padding: 10px 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    border: 1px solid #53138c;
}


.ok-comment-btn{
    float: right;
    background-color: #53138c;
    text-decoration: none;
    color: #ffffff;
    padding: 10px 18px;
    font-size: 15px;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: background-color 0.3s linear;   
}

.ok-comment-btn:hover {
    background-color: #370c5d;
}

.add-comment{
    margin-bottom: 80px;
}

.login-comment{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #4e4e4e;
}

.login-for-comment{
    text-decoration: none;
    font-weight: 500;
}

.meta-data-comment{
    display: flex;
    margin-bottom: 15px;
}

.comment-date{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #4e4e4e;
    margin-top: 15px;
    margin-left: 15px;
}

.comment-author{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 800;
    color: #4e4e4e;
    margin-left: 15px;
}

.comment-text{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #4e4e4e;
}

.comment{
    margin-bottom: 30px;
    border: 1px solid #53138c;
    padding: 20px 20px;
}

.none-active-post{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: #4e4e4e;
}

.empty-post-active{
    display: flex;
    align-items: center;
    justify-content: center;
}

.phone-number-contacts{
    display: flex;
    align-items: center;
    /* justify-content: ; */
    margin-right: 20px;
    margin-bottom: 30px;
}

.email-contacts{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.address-contacts{
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 30px;
}   

.time-of-work-contacts{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.text-cont{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #939393;
    transition: color 0.3s linear;
}

.text-cont:hover{
    color: white;
}

.img-cont{
    margin-right: 20px;
}

.contacts{
    background-image: url("../media/bg_menu.jpg");
    background-size: cover;
    height: auto;

    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */

    /* padding: 20px 100px; */
}

.contacts-items{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.block-left-contacts{
    margin-right: 100px;
}

.img-map{
    border: 4px solid #53138c;
    width: 60%;
    height: auto;
    border-radius: 15px;
}

.map-contacts{
    justify-content: center;  
    display: flex; 
    padding-bottom: 50px;
}

.text-seccess{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: white;
    transition: color 0.3s linear;
    margin-right: 10px;
}


.block-success{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    border: 2px solid #ff7400;
    border-radius: 10px;
}

.img-seccess-reservation{
    width: 50px;
    height: auto;
}

.seccess-page-reservation{
    background-image: url("../media/bg_menu.jpg");
    background-size: cover;
    height: 88vh;

    justify-content: center;
    align-items: center;
    display: flex;
}

.reserv-part{
    display: flex;
    flex-direction: column;
    margin-right: 40px;

    padding-top: 13%;
}


.reserv-inputs-block{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 40px;
}

.reserv-block{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.reservation-content{
    background-image: url("../media/bg_menu.jpg");
    background-size: cover;
    height: 88vh;
}

.label_tag{
    color: #d9d9d9;
    margin-bottom: 8px;
}

.reserv-obj{
    width: 350px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 40px;


    border: 2px solid #53138c;

    border-radius: 10px;

}


.reserv-up{
    margin-bottom: 30px;
}

.btn-reservation{
    background-color: #53138c;
    text-decoration: none;
    color: #ffffff;
    padding: 14px 30px;
    font-weight: 500;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: background-color 0.3s linear;
    border-radius: 15px;
}

.btn-reservation:hover{
    background-color: #350c5a;
}

.btn-reserv{
    display: flex;
    justify-content: center;
    text-align: center;
}




