{% extends 'base.html' %}

{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    <div class="blog">

        <!-- <div class="blog-header">BLOG</div> -->
        
        <div class="blog-content">
            
            
            <div class="active-post">
                {% block active %}
                {% endblock %}
            </div>
            
            
            <div class="posts-list">
                <div class="header-post-list">
                    <hr class="custom-hr">
                    ALL POSTS
                    <hr class="custom-hr">
                </div>



                {% for post in posts %}
                    <a href="{% url 'detail_post' post.id %}" class="card-blog">
                        <img class="card-img-blog-list" src="{% static post.path_to_img %}" alt="1">
                        <div class="card-header-blog-list">{{post.category}}:{{ post.title }}</div>
                    </a>

                    {% empty %} 
                    <div class="empty-post">Постов нет</div>
                {% endfor %}
                

            </div>
        </div>
    </div>
    
{% endblock %}